body {
    background-color: #f8f8f8; /* Fundo branco suave */
  }

  .navbar {
    background-color: #001f3f; /* Azul marinho escuro para a barra de navegação */
    border-color: #001f3f;
    border-radius: 0; /* Borda sem arredondamento */
  }

  .navbar-brand {
    color: #ffffff; /* Texto branco para a marca */
  }

  .navbar-toggle {
    border: 1px solid #ffffff; /* Ícones brancos para o botão de alternância */
  }

  .nav-tabs {
    border-bottom: 2px solid #001f3f; /* Borda azul marinho nas abas */
  }

  .nav-tabs>li>a {
    color: #333; /* Texto preto para abas inativas */
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    background-color: #001f3f; /* Fundo azul marinho para aba ativa */
    color: #ffffff; /* Texto branco para aba ativa */
    border: 1px solid #001f3f; /* Borda azul marinho para aba ativa */
  }

  .panel {
    border: 1px solid #ddd; /* Borda cinza para o painel */
    border-radius: 0; /* Borda sem arredondamento */
  }

  .panel-heading {
    background-color: #001f3f; /* Fundo azul marinho para o cabeçalho do painel */
    color: #ffffff; /* Texto branco para o cabeçalho do painel */
  }

  .panel-title {
    color: #ffffff; /* Texto branco para o título do painel */
  }

  .panel-body {
    background-color: #ffffff; /* Fundo branco para o corpo do painel */
  }

  .active-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5cb85c; /* Bolinha verde para indicar usuário ativo */
    border-radius: 50%;
    margin-right: 5px;
  }

  .list-group-item {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
  }

  .nav-tabs {
    border-bottom: 2px solid #001f3f; /* Borda azul marinho nas abas */
  }

  .nav-tabs>li>a {
    color: #333; /* Texto preto para abas inativas */
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    background-color: #001f3f; /* Fundo azul marinho para aba ativa */
    color: #ffffff; /* Texto branco para aba ativa */
    border: 1px solid #001f3f; /* Borda azul marinho para aba ativa */
  }

  .form-group label {
    color: #333;
  }

  .form-control {
    border-color: #ccc;
  }

  .btn-primary {
    background-color: #337ab7; /* Azul primário para botões */
    border-color: #2e6da4;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #286090;
    border-color: #204d74;
  }