body {
    background-color: #f8f8f8; /* Fundo branco suave */
    padding-top: 20px; /* Espaçamento superior */
  }

  /* Estilos para a barra de navegação */
  .navbar {
    background-color: #001f3f; /* Azul marinho escuro para a barra de navegação */
    border-color: #001f3f;
    border-radius: 0; /* Borda sem arredondamento */
    margin-bottom: 20px; /* Espaçamento inferior */
  }

  .navbar-brand {
    color: #ffffff; /* Texto branco para a marca */
    font-size: 24px; /* Tamanho da fonte do logotipo */
  }

  .navbar-toggle {
    border: 1px solid #ffffff; /* Ícones brancos para o botão de alternância */
  }

  .navbar-collapse {
    padding: 10px; /* Espaçamento interno ao menu de navegação para melhorar a legibilidade */
  }

  /* Estilos para o formulário de filtro */
  .form-inline {
    margin-bottom: 20px; /* Espaçamento inferior para o formulário */
  }

  .form-group {
    margin-right: 10px; /* Espaçamento direito entre os elementos do formulário */
  }

  .form-control {
    border-color: #ccc;
  }

  .btn-primary {
    background-color: #001f3f; /* Azul primário para botões */
    border-color: #001f3f;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #001f3f;
    border-color: #ccc;
  }

  /* Estilos para a tabela e os painéis */
  .table {
    margin-top: 20px; /* Espaçamento superior para a tabela */
    margin-bottom: 20px; /* Espaçamento inferior para a tabela */
  }

  .panel {
    border: 1px solid #ddd; /* Borda cinza para o painel */
    border-radius: 0; /* Borda sem arredondamento */
    margin-top: 20px; /* Espaçamento superior para o painel */
  }

  .panel-heading {
    background-color: #001f3f; /* Fundo azul marinho para o cabeçalho do painel */
    color: #ffffff; /* Texto branco para o cabeçalho do painel */
  }

  .panel-title {
    color: #ffffff; /* Texto branco para o título do painel */
  }

  .panel-body {
    background-color: #ffffff; /* Fundo branco para o corpo do painel */
  }

  #sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
}

.aberto #sidebar {
    right: 0;
}

#conteudo {
    margin-right: 0;
    transition: margin-right 0.3s ease-in-out;
}

.aberto #conteudo {
    margin-right: 250px;
}
